.item-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure it appears above other elements */
}

.item-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: calc(50% - 10px);
}

.item-form-title {
    font-size: 2.5rem;
    color: #1e3a8a;
    text-align: center;
    margin-bottom: 10px;
}

.item-form-title-underline {
    width: 60px;
    height: 6px;
    background-color: #ff6347;
    margin: 0 auto 40px auto;
    border-radius: 4px;
}

.item-form-input-container {
    position: relative;
    width: 100%;
    background-color: white;
}

.item-form-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #190663;
}

.item-form-input,
.item-form-textarea {
    padding: 12px 12px 12px 40px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: white;
}

.item-form-textarea {
    height: 50px;
    resize: none;
}

.item-form-input:focus,
.item-form-textarea:focus {
    border-color: tomato;
    outline: none;
}

.item-form-upload-label {
    margin-right: 10px;
}

.item-form-buttons {
    display: flex;
    justify-content: flex-end;
    /* Align the button to the right */
    margin-top: 20px;
    width: 100%;
}

.item-form-submit-btn {
    background-color: tomato;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-form-submit-btn:hover {
    background-color: #e63946;
}

.item-form-input[name="price"] {
    padding-left: 40px;
    background-color: white;
    padding: 12px 12px 12px 40px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: white;
}


/* Style for all input placeholders */
.item-form-input::placeholder,
.item-form-textarea::placeholder {
    font-size: 16px;
    /* Match the font size */
    color: #aaa;
    /* Adjust the color as needed */
    opacity: 1;
    /* Ensures the placeholder is fully opaque */
}